matplotlib
numpy 
pandas
scikit-learn
scipy
seaborn
torch>=2.0.0
jupyter
ipykernel
tqdm
imblearn


# Deep Tabular Models
# pytorch-tabnet



# NOOOOOOOO tab-transformer-pytorch


# You can also use this module:
pytorch_tabular